@font-face {
	font-family: 'Georgia';
	src: url(../../assets/fonts/georgia.ttf), url(../../assets/fonts/georgia_bolditalic.ttf);
}

@font-face {
	font-family: 'Arial';
	src: url(../../assets/fonts/arial_bolditalicmt.ttf), url(../../assets/fonts/arialmt.ttf);
}

%font-head {
	font-family: 'Georgia', 'Times New Roman', Times, serif;
}

%font-paragraph {
	font-family: 'Helvetica', sans-serif;
}