.about {
    background-color: $color-light-xl;
}

.about__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px;
}

.about__img {
    width: 25%;
    margin-right: 10%;
}

.about__content {
    width: 430px;
}

.about__title {
    color: $color-dark-l;
    margin: 0;
}

.about__description {
    @extend %font-paragraph;
    @include font (1.5rem, 2.4rem);
    color: $color-dark-xl;
    margin: 25px 0 0 0;
}

@media screen and (max-width : 1279px) {
    .about__wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
        padding: 80px 0 100px;
    }

    .about__content {
        margin-bottom: 80px;
    }

    .about__img {
        width: 42.372881%;
        margin-right: 0;
    }
}

@media screen and (max-width : 767px) {
    .about__wrapper {
        padding: 42px 0 42px;
    }

    .about__content {
        width: 90%;
        margin-bottom: 42px;
        text-align: justify;
    }

    .about__title {
        text-align: center;
        @include font($size: 2.5rem, $height: 3.25rem, $spacing: 0.06em);
    }

    .about__img {
        width: 86.6667%;
    }

    .about__description:last-child {
        margin: 21px 0 0 0;
    }
}
