.footer {
    background: url(../assets/icons/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    padding-top: 16px;
    a {
        white-space: nowrap;
    }
}

.location {
    padding-right: 6px;
}

.footer__title {
    width: 280px;
    color: $color-light-xl;
    margin: 0;
}

.footer__img {
    align-self: flex-end;
    width: 300px;
}

.footer__link {
    display: flex;
    align-items: center;
    color: $color-primary;
}

.footer__link-text {
    margin: 0;
}

.footer__ico {
    margin-right: 20px;
    cursor: pointer;
}

@media screen and (max-width : 1279px) {
    .footer__wrapper {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        gap: 65px 60px ;
        padding-top: 14px;
    }

    .footer__img-container {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
    }
}

@media screen and (max-width : 767px) {
    .footer__title {
        @include font($size: 2.5rem, $height: 3.25rem, $spacing: 0.06em);
        align-self: center;
        text-align: center;
    }
    .footer__wrapper {
        padding-top: 30px;
        gap: 40px;
    }
    .footer__item {
        flex-basis: 100%;
        align-items: center;
        gap: 39px;
        height: auto;
        padding-top: 0;
    }
    .footer__img-container {
        flex-basis: 100%;
    }

    .footer__img {
        width: 260px;
    }

    .location .footer__link{
        width: 300px;
    }
}
